.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 0.8rem;
}

.footer a {
	font-size: 1.2rem;
	color: var(--text-muted);
	text-decoration: none;
}

.footer a:hover {
	color: var(--link-color);
	text-decoration: underline;
	cursor: pointer;
}

.socialLinkContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}
