.input {
    background-color: transparent;
    text-align: center;
    font-size: 1.8rem;
    padding: .8rem;
    color: var(--text-default);
    outline: none;

    border: .2rem solid transparent;
    border-bottom-color: var(--primary);
    transition: all 0.1s ease-in-out;
}

.input:focus {
    border-color: var(--primary);
    border-radius: .8rem;

}

.input:disabled{
    border-bottom: 0.2rem solid var(--disabled);
    color:var(--text-muted);
    cursor: not-allowed;
}