.form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 2.4rem;
}


.formRow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
}