.form {
	padding-top: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	gap: 3.8rem;
}

.formRow {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}

.modeToggleButton {
	font-weight: bolder;
	background-color: var(--primary);
	color: var(--text-over-primary);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1.2rem 2rem;
	border-radius: 0.4rem;
	border: none;
}

.modeToggleButton:hover {
	filter: brightness(70%);
}

.testModeMessage {
	font-size: clamp(1.5rem, 3vw, 2rem);
	line-height: 1.5;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
