.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    border-radius: .5rem;
    border: none;
    min-width: 24rem;
}

.button:hover {
    filter: brightness(70%);

}

.button:disabled {
    border-bottom: 0.2rem solid var(--disabled);
    color: var(--text-muted);
    cursor: not-allowed;
}

.button svg {
    width: 3.2rem;
    height: 3.2rem;
}

.red {
    background-color: var(--error);
    color: var(--text-over-error);
}


.green {
    background-color: var(--primary);
    color: var(--text-over-primary);
}